* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primaryColor: #3A3845;
    --prinaryFont: Inter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

body {
    font-family: var(--prinaryFont);
}

.container {
    margin: 0 auto;
    width: calc(100% - 330px);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    padding: 21.84px 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9;
}

.header a {
    text-decoration: none;
    font-family: var(--prinaryFont);
    font-size: 14px;
    color: var(--primaryColor);
    transition-duration: 0.7s;
}

.icons .Shopping_item a {
    position: relative;
}

.icons .Shopping_item a::after {
    content: '3';
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: #9f7374;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.header a:hover {
    color: #3f4d36;
}

.menu {
    display: none;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.icons a {
    cursor: pointer;
}

.Shopping-cart {
    display: none;
}

@media screen and (min-width:0) and (max-width:770px) {
    .container {
        width: calc(100% - 20%);
    }

    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .menu {
        display: flex;
    }

    .Shopping-cart {
        display: flex;
    }

    .Shopping-cart a {
        position: relative;
    }

    .Shopping-cart a::after {
        content: '3';
        position: absolute;
        top: -10px;
        right: -8px;
        background-color: #9f7374;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

@media screen and (min-width:771px) and (max-width:1100px) {
    .container {
        width: calc(100% - 20%);
    }

    .list ul {
        gap: 30px;
    }

    .icons ul {
        gap: 15px;
    }
}

.hero {
    background-image: url(./img/heroImg.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    align-items: stretch;
}

.hero-content {
    background-color: #826F66;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 200px 50px;
    margin-left: 100px;
}

.hero-content img {
    width: 60px;
}

.hero-content p {
    color: white;
    font-size: 14px;
}

.hero-content h1 {
    color: white;
    font-size: 42px;
}

.hero-content a {
    background-color: white;
    padding: 12px 70px;
    text-decoration: none;
    color: #8b7b72;
}

@media screen and (min-width:0) and (max-width:710px) {

    .hero {
        background-image: none;
        grid-template-columns: 1fr;
        grid-template-rows: 320px auto;
        background-attachment: scroll;
    }

    .hero::before {
        content: "";
        display: block;
        width: 100%;
        height: 320px;
        background-image: url(./img/heroMobile.png);
        background-size: cover;
        background-position: center;
        grid-row: 1 / 2;
    }

    .hero-content {
        grid-row: 2 / 3;
        margin-left: 0;
        padding: 100px 40px;
    }

    .hero-content h1 {
        font-size: 30px;
    }

    .hero-content a {
        padding: 12px 30px;
    }
}


@media screen and (min-width:711px) and (max-width:1100px) {

    .hero-content {
        margin-left: 60px;
        padding: 160px 35px;
        gap: 18px;

    }

    .hero-content h1 {
        font-size: 34px;
    }

    .hero-content a {
        padding: 12px 45px;
    }

}


.collection_section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.collection_section .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.collection {
    text-align: center;
    position: relative;
    cursor: pointer;
}

.badge_sale {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(255, 0, 0, 0.669);
    padding: 6px 8px;
    z-index: 1;
}

.collection .img {
    display: block;
}

.collection_details {
    position: absolute;
    inset: 0;
    background-color: #896c5c96;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    gap: 10px;
}

.collection h2 {
    color: black;
    text-transform: uppercase;
}

.collection_details a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}

.collection:hover .collection_details {
    opacity: 1;
    transition: 0.6s;
}


.offer .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    margin: 40px 0;
}

.offer-content {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px 60px;
    gap: 20px;
}

.offer-content h2 {
    font-size: 25px;
}

.offer-content p {
    color: #666;
    max-width: 400px;
}

.offer-content a {
    color: #3f4d36;
}

.offer-img img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:0) and (max-width:700px) {
    .offer .row {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:701px) and (max-width:1200px) {

    .offer-content {
        padding: 40px 25px;
        gap: 14px;
    }

    .offer-content h2 {
        font-size: 20px;
    }

    .offer-content p {
        font-size: 12px;
    }

    .offer-content a {
        font-size: 14px;
    }

}

.bestSellers {
    text-align: center;
    padding: 80px 0;
}

.bestSellers .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.bestSellers .item {
    text-align: left;
    box-shadow: 0px 0px 7px 9px rgb(220, 221, 218);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bestSellers h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 48px;
}

.bestSellers .item-content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bestSellers .row {
    align-items: stretch;
}

.bestSellers h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 12px;
}

.bestSellers .price {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
}

.bestSellers .description {
    color: #807F86;
    width: 80%;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.bestSellers .add-to-cart {
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: background-color 1s, color 1s;
    margin-top: auto;
}

.item:hover .add-to-cart {
    background-color: #e9c9ca;
    color: #5c2425;
}

.history .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

.history-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 80px 40px;
    background-color: #efefef;
}

.history-content h2 {
    max-width: 300px;
    font-size: 30px;
}

.history-content p {
    color: #6d6c6c;
    max-width: 350px;
}

.history-content a {
    color: var(--primaryColor);
}

.history-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (min-width:0) and (max-width:700px) {

    .history .row {
        grid-template-columns: 1fr;
    }

    .history-content:first-child {
        grid-row: 1;
    }

    .history-img:first-of-type {
        grid-row: 2;
    }

    .history-content:last-child {
        grid-row: 3;
    }

    .history-img:last-of-type {
        grid-row: 4;
    }

    .history-content {
        padding: 60px 25px;
        gap: 16px;
    }

    .history-content h2 {
        max-width: 250px;
        font-size: 23px;
    }

    .history-content p {
        max-width: 280px;
        font-size: 14px;
    }

}

@media screen and (min-width:701px) and (max-width:1100px) {

    .history-content {
        padding: 50px 25px;
        gap: 16px;
    }

    .history-content h2 {
        max-width: 260px;
        font-size: 25px;
    }

    .history-content p {
        max-width: 290px;
        font-size: 15px;
    }

}

.discover {
    text-align: center;
    padding: 80px 0;
}

.discover .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.discover .discover_item {
    text-align: left;
    box-shadow: 0px 0px 7px 9px rgb(220, 221, 218);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.discover .discover-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.discover h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 48px;
}

.discover .item-content {
    margin-top: 24px;
}

.discover h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 12px;
    margin-top: 24px;
}

.discover .price {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
}

.discover .description {
    color: #807F86;
    width: 80%;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.discover .add-to-cart {
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.6s, color 0.6s;
    margin-top: auto;
}

.discover_item:hover .add-to-cart {
    background-color: #e9c9ca;
    color: #5c2425;
}


.blog {
    text-align: center;
}

.blog .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    margin: 40px 0;
}

.blog-content {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px;
    gap: 20px;
}

.blog-content span {
    color: #6d6c6c;
    font-weight: 600;
    letter-spacing: 2px;
}

.blog-content h3 {
    font-size: 25px;
}

.blog-content p {
    color: #666;
    max-width: 400px;
}

.blog-content a {
    color: #3f4d36;
}

.blog-img img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:0) and (max-width:700px) {

    .blog .row {
        grid-template-columns: 1fr;
    }

    .blog-content {
        padding: 50px 25px;
        gap: 16px;
    }

    .blog-content h3 {
        max-width: 300px;
        font-size: 28px;
    }

    .blog-content p {
        max-width: 280px;
        font-size: 14px;
    }

}

@media screen and (min-width:701px) and (max-width:1100px) {

    .blog-content {
        padding: 40px 25px;
        gap: 14px;
    }

    .blog-content h3 {
        max-width: 260px;
        font-size: 22px;
    }

    .blog-content p {
        max-width: 290px;
        font-size: 12px;
    }

}

.sign-up {
    padding: 40px 0;
}

.sign-up .row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.sign-up span {
    color: #222a1d;
    font-size: 14px;
    font-weight: bold;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sign-up-form input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #222a1d;
    padding: 10px;
    width: 300px;
}

.sign-up-form input:focus {
    outline: none;
}

.sign-up-form button {
    padding: 10px 25px;
    border: 1px solid #222a1d;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600px;
    transition-duration: 0.7s;
}

.sign-up-form button:hover {
    background-color: #222a1d;
    color: white;
}

@media screen and (max-width:700px) {

    .sign-up h2 {
        font-size: 22px;
    }

    .sign-up-form input {
        width: 220px;
    }

}

@keyframes slideFromToLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.from-left {
    animation: slideFromToLeft 1.5s;
}

@keyframes slideFromToRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.from-right {
    animation: slideFromToRight 1.5s;
}

img {
    width: 100%;
}