* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primaryColor: #3A3845;
    --prinaryFont: Inter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

body {
    font-family: var(--prinaryFont);
}


.header {
    padding: 21.84px 0;
}

.header a {
    text-decoration: none;
    font-family: var(--prinaryFont);
    font-size: 14px;
    color: var(--primaryColor);
}

.header a:hover{
    color: #2388FF;
}

.hero {
    background-color: #8f98b8;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.container {
    margin: 0 auto;
    width: calc(100% - 330px);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: none;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}


.icons ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.icons a{
    cursor: pointer;
}

.Shopping-cart {
    display: none;
}

@media screen and (min-width:0) and (max-width:770px) {
    .container {
        width: calc(100% - 20%);
    }

    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .menu {
        display: flex;
    }

    .Shopping-cart {
        display: flex;
    }
}

@media screen and (min-width:771px) and (max-width:1100px) {
    .container {
        width: calc(100% - 20%);
    }

    .list ul {
        gap: 30px;
    }

    .icons ul {
        gap: 15px;
    }
}


.collection_section {
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.collection {
    width: calc((100% - 90px)/4);
    text-align: center;
}

.collection h2 {
    color: var(--primaryColor);
}

@media screen and (min-width:0) and (max-width:400px) {
    .collection_section .row {
        flex-direction: column;
    }

    .collection {
        width: 100%;
    }

    h2 {
        font-size: 15px;
    }

}

@media screen and (min-width:401px) and (max-width:770px) {

    .collection {
        width: calc((100% - 30px)/2);
    }

    h2 {
        font-size: 15px;
    }

}

@media screen and (min-width:771px) and (max-width:960px) {
    .collection {
        width: calc((100% - 60px)/3);
    }

    h2 {
        font-size: 20px;
    }

}

.bestSellers {
    text-align: center;
    padding: 80px 0;
}

.bestSellers .row {
    justify-content: flex-start;
    gap: 30px;
}

.bestSellers .item {
    text-align: left;
    width: calc((100% - 90px)/4);
}


.bestSellers h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 48px;
}

.bestSellers .item-content {
    margin-top: 24px;
}

.bestSellers h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 12px;
}

.bestSellers .price {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
}

.bestSellers .description {
    color: #807F86;
    width: 80%;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.bestSellers .add-to-cart {
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.item:hover .add-to-cart{
    background-color: #2388FF;
}

img {
    width: 100%;
}


@media screen and (min-width: 0) and (max-width: 500px) {
    .bestSellers .item {
        width: 100%;
    }

    .bestSellers .h3 {
        font-size: 13px;
    }

    .bestSellers .add-to-cart {
        padding: 15px 30px;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .bestSellers .item {
        width: calc((100% - 30px)/2);
    }

    .bestSellers .h3 {
        font-size: 14px;
    }

    .bestSellers .add-to-cart {
        padding: 15px 10px;
    }
}

@media screen and (min-width: 701px) and (max-width: 960px) {
    .bestSellers .item {
        width: calc((100% - 60px)/3);
    }

    .bestSellers .h3 {
        font-size: 16px;
    }

    .bestSellers .add-to-cart {
        padding: 15px 20px;
    }
}